body {
  font-family: 'Poppins', sans-serif;
}


.title {
  color: white;
  margin: 0 0 8px;
  padding: 0 416px 5px 418px;
  opacity: 0.81;
  background-color: #fcce00;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  font-weight: bold;
}

.Computer-Video-Systeme {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  margin: 8px 0;
  padding: 16px 0 15px;
  opacity: 0.81;
  background-color: #ff6b00;
  font-weight: bold;

}

.Rectangle-Copy-2 {
  margin: 8px 0;
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;}

.Rectangle-Copy-8 {
  margin: 8px 0;
  opacity: 0.81;
  height: 16px;
  background-color: #b620e0;
}

.Rectangle-Copy-9 {
  margin: 8px 0 0;
  opacity: 0.81;
  height: 8px;
  background-color: #6236ff;
}

p {
  margin: 64px 216px 64px 229px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20
}

.Arcade1 {
  margin: 32px 14px 32px 32px;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #231f20;
  margin-right: 48px;
  margin-left: 32px;
} 

h3 {
  margin: 64px 216px 64px 229px;
  font-size: 20px;
  font-weight: 900;
  color: #231f20;
  text-align: center;

}

h4 {
  margin: 64px 216px 64px 229px;
  font-size: 20px;
  font-weight: 900;
  text-align: right;
  color: #231f20;
  padding-top: 200px;
  margin top: 100px;
}

h5 {
  margin: 64px 216px 64px 229px;
  font-size: 32px;
  font-weight: 900;
  color: #231f20;
  text-align: left;
}


.ordinateur.png {
  width: 487px;
  height: 471px;
  object-fit: right;
  text-align: center;
}


.when-youre-ready {
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  color: #231f20;
  font-weight: lighter;
  margin-left: 48px;
  margin-right: 32px;
}

.the-only-video-game {
  margin: 32px 14px 32px 32px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #231f20;
  margin-right: 48px;
  margin-left: 32px;
}


.CTA-1 {
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #fcce00;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fcce00
}

.CTA-2 {
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #ff6b00;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ff6b00;
  
}

.CTA-3 {
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #ff6b00;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #ff6b00;  
}


.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
  display: flex;
  text-align: center;
}

.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}


.bloc-illu{
  background-color: url(../img/ordi/bg-yellow.png);
  background-position: left top;
  background-size: 100%;
}

.feature-2 {
  object-position: right top;
}

.Latest-releases {
  margin: 0 211.5px 64px 208.5px;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: white; 

}

.Contact {
  margin: 0 211.5px 64px 208.5px;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: white; 

}

.Bloc-fin {
  background-color: #231f20;
  position: center;
}

.form-row {
  font-size: 15px;
  line-height: 2.5;
  text-align: center;
  color: #ffffff;
}

.bloc-1 {
  background-image: url(../img/ordi/bg-red.png);
  margin: auto;
  }

.bloc-2 {
  background-image: url(../img/ordi/bg-violet.png);
   margin: auto;
  }

.bloc-3 {
  background-image: url(../img/ordi/bg-blue.png);
  margin: auto;
  }

.ordinateur-2 img {
  mix-blend-mode: darken;
}

.ordinateur-2 {
  background-image: url(../img/ordi/bg-orange.png);
}

.ordinateur img {
  mix-blend-mode: darken;
}

.ordinateur {
  background-image: url(../img/ordi/bg-yellow.png);
}

